* {
  box-sizing: border-box;
}
.App {
  background-color: #F2F0EF;
  min-height: 100vh;
  text-align: center;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
  padding: 0 48px;
  justify-content: center;
}

.card {
  border: 1px solid #ddd;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  width: 320px;
}

.card p {
  display: block;
}

.card img{
  width: 210px;
  height: 200px;
  object-fit: cover;
  border-radius: 3px;
}

.empty-view {
  font-size: 1.5em;
  letter-spacing: -0.5px;
}

.empty-view button {
  font-size: 1rem;
}